body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 300px 1fr 300px;
  grid-template-areas:
    "header header header"
    "left-sidebar main right-sidebar"
    "footer footer footer";
}

header {
  grid-area: header;
  background: lightpink;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.left-sidebar {
  grid-area: left-sidebar;
  background: lightblue;
  padding: 1rem; 
}

main {
  grid-area: main;
  background: coral;
}

.right-sidebar {
  grid-area: right-sidebar;
  background: yellow;
  padding: 1rem; 
}

footer {
  grid-area: footer;
  background: wheat;
  padding: 2rem;
  text-align: center;
}

main img {
  width: 100%;
  max-width: 300px; 
  display: block;  
  margin: 0 auto; 
}

  