body {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background-color: #f9f9f9; 
}

header {
    background-color: #2e3b52; 
    color: white; 
    text-align: center; 
    padding: 20px; 
}

nav {
    display: flex; 
    justify-content: center; 
    background-color: #353b48; 
}

nav ul {
    display: flex;
    justify-content: space-around; 
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none; 
    color: white; 
    padding: 10px; 
    transition: color 0.3s;
}

nav a:hover {
    color: #f1c40f;
}


main {
    max-width: 900px; 
    margin: 20px auto; 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding: 20px;
    border-radius: 10px; 
}

.card {
    padding: 20px; 
    border: 2px solid #ccc; 
    border-radius: 20px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #2e3b52;
    color: white; 
    text-align: center; 
    padding: 20px;
}

footer p {
    margin: 0;
}

footer #lastModified {
    font-size: 0.8em; 
}

.content-wrapper {
    display: flex; 
    align-items: center;
}

.content-wrapper p {
    flex: 2;
}

.content-wrapper img {
    flex: 1; 
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.flag-image {
    width: 100px;
    height: 60px;
}

.card-container:nth-child(1) .card {
    background-color: #f1f1f1;  
}


.card-container:nth-child(2) .card {
   background-color: #eaeaea;
   
}
